
:root {
    --cardBorderShadow: rgba(60, 64, 67, .3) 0 1px 2px 0, rgba(60, 64, 67, .15) 0 1px 3px 1px;
}

html, body{
    height:100%;
}
.fixed-height-viewport{
    height:780px !important;

}

.cardBorderShadow{
    box-shadow:var(--cardBorderShadow);
}


thead th{
 font-size: 0.7em;
 padding: 7px !important;
 height:10px
}
#leftPanelContainer{
  position: absolute;
  width: 50%;
  height: 100%;
}

#tickersPanel{
  width:100%;
  height: 45%;
  padding: 10px;
  opacity: 1.0;
  margin-top: 10px;
  overflow:auto;
}

#sentimentPanel{
  /*box-shadow: var(--cr-card-elevation_-_box-shadow);*/
  width:100%;
  height: 50%;
  overflow-y: scroll;
  padding: 10px;
  margin-top:10px;
}
#gadgetPanel{

  height: 64.5%;
  width:94%;
  margin-top:10px;
  overflow-y: scroll;
  padding: 10px;
  font-size: 11px;

}


#marketPanel{
    margin:auto;
    margin-top:10px;
    height:35%;
    width:95%
}
#actionPanel{
    margin:auto;
    margin-top:10px;
    height:60%;
    width:95%
}


#allButtons {
      position: absolute;
      text-align: center;
      bottom:10px;
      width:90%;
      display: inline-block;
      -webkit-perspective: 400;
      -moz-perspective: 400;
  }

  #allButtons ul {
      font-size: 14px;
      margin: 0 auto;
      padding: 0;
      margin: 0;
  }

  #allButtons li {
      list-style-type: none;
      display: inline-block;
      position: relative;
  }
  #allButtons li span {
      display: none;
      position: absolute;
      bottom: 140px;
      left: 0;
      right: 0;
      width: 100%;
      background-color: rgba(0,0,0,.75);
      padding: 4px 0;
      border-radius: 12px; /* webkit nightly */
      -webkit-border-radius: 12px; /* for safari */
      -moz-border-radius: 12px;
  }

  #allButtons li button {
  border-radius: 5px;
  border-width: 1px;
  border-color: lightgrey;
  font-size: 13px;
  color: black;
  width: 55px;
  height: 40px;

      -webkit-transition: all 0.3s;
      -webkit-transform-origin: 50% 100%;
      -moz-transition: all 0.4s;
      -moz-transform-origin: 50% 100%;
      -o-transition: all 0.3s;
      -o-transform-origin: 50% 100%;
  }
  #allButtons li:hover button {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -o-transform: scale(1.5);
      margin: 0 1.5em 6px;
  }
  style: {
    overflow: "auto",
    height: "400px",
  }
  /* one element after and element before (with JS)*/
  #allButtons li:hover + li button,
  #allButtons li.prev button {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      margin: 0 1.1em 6px;
  }

  .circle{
    height: 7px;
    width: 7px;
    background-color: #bbbbbb00;
    border-radius: 50%;
    position: center center;
    text-align: center;
    padding: 0;
      margin-left: 26px;
    margin-right: 26px;
    display: inline-block;
  }

     #titleContainer{
       width: 440px;
       height: 80px;

     }

     #title{
       margin: 0px;
     }

     #title2{
       font-size: 24px;
     }
     .hideMe{
         display:hidden;
     }
     [aria-expanded=true] .fa-chevron-right {
   display: none;
      }
      #grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
        background-color: #325D88;
        padding-top: 7px;
        width:170px;
        height: 190px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
      }
      .grid-item {
        font-family:'Roboto', sans-serif;
        font-weight: lighter;
        display: flex;
        justify-content: center;
        background-color:   #325D88;
        color: white;
        height: 5px;
        padding: 3px;
        font-size: 12px;
        text-align: center;
      }

      #grid-name{
        position:center center;
        text-align: center;
        color:white;
        font-family:'Roboto', sans-serif;
        font-size: .9rem;
        line-height: 1.5;
        background-color: #325D88;
        width:140px;
        height: 40px;
        padding-top: 10px;
        padding-bottom:10px;
        margin-bottom: 2px;
      }

      .table tr {
      line-height: 7px;
      min-height: 7px;
      height: 7px;
      }

      .table td {
        font-size: 11px;
        padding: 2px;
      }

      .transparentButton{
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
      }
      #monthName{
        margin-top: 13px;
        background-color: #325D88;
        width: 170px;
        margin-bottom: 1px;
      }

      #grid-name{
        display: inline-block;
        text-align: center;
      }
      #prevMon{
        width:5px;
        float: left;
        margin-top: 12px;
        color: white;
        fontWeight: bold;
      }
      #nextMon {
        padding-left: 0px;
        margin-right: 5px;
        margin-top: 12px;
        width:5px;
        float: right;
        color: white;
        fontWeight: bold;
      }

      .eventInput{
        text-align: center;
        font-size: 15px;
        margin-bottom: 0px;
      }
